@import "../../styles/utils/_helpers.scss";

.faq-page-container {
  padding: 0 0 0 $general-spacing-md;
}

.faq-page-content {
  display: flex;
  flex-direction: row;
  gap: $spacing-9;
  justify-content: space-between;
  max-width: $width-content;
  margin: 0 auto;

  > :first-child {
    padding: $spacing-9 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-9;
    min-width: 568px;
  }

  @include r_max($break-tablet-p) {
    flex-wrap: wrap;

    > :first-child {
      min-width: unset;
    }
  }

  .faq-page-image {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
