@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_layoututils.scss";

.twoColumnContentSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.twoColumnContentSectionContainer:has(.contentContainer_right) {
  justify-items: end;

  // Ensures the text content block is pushed over to the right and aligns with
  // the masthead text
  .contentContainer_right {
    width: calc($width-content/2 - $general-spacing-xxl);
  }
}

.contentBlock p {
  color: $text-secondary;
}

.contentContainer_left,
.contentContainer_right {
  padding: 2rem 0;
}

.contentContainer_left {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: unset;
}

.contentContainer_right {
  margin-right: $spacing-9;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: $general-spacing-md;
}

.imageContainer_right {
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.contentLinkButton {
  display: inline-block;
  margin-top: $general-spacing-xl;
  margin-bottom: $general-spacing-md;
}

@media screen and (min-width: $min-desktop) {
  .contentBlock {
    max-width: 544px;
  }

  .contentContainer_left .innerContainer {
    margin-left: 48px;
  }
}

@media screen and (max-width: $min-desktop) {
  .contentBlock h2 {
    font-size: 24px;
  }

  .contentBlock p {
    font-size: 1rem;
  }

  .innerContainer {
    width: 100%;
    max-width: 100%;
    padding: $general-spacing-md;
  }

  .contentBlock {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px;
  }

  .twoColumnContentSectionContainer {
    display: inline;
  }

  .contentContainer_right {
    margin-right: 0;
  }

  .twoColumnContentSectionContainer:has(.contentContainer_right) {
    // Unsets the desktop alignment for the right content container
    .contentContainer_right {
      width: 100%;
    }
  }

  .imageContainer_right {
    grid-row: 2;
    grid-column: 1;
  }

  .imageContainer_left {
    grid-row: 2;
    grid-column: none;
  }

  .contentLinkButton {
    width: 100%;
  }
}
