@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_layoututils.scss";

.twoColumnContentSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.contentBlock p {
  color: $text-secondary;
}

.contentContainer_left,
.contentContainer_right {
  padding: 2rem 0;
}

.contentContainer_left {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.contentContainer_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 48px;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.imageContainer_left {
  grid-column: 1;
  grid-row: 1;
}

.imageContainer_right {
  grid-column: 2;
  grid-row: 1;
}

.image {
  width: 100%;
}

.contentLinkButton {
  display: inline-block;
  margin-top: $general-spacing-xl;
  margin-bottom: $general-spacing-md;
}

@media screen and (min-width: $min-desktop) {
  .contentBlock {
    max-width: 544px;
  }

  // .contentContainer_right .innerContainer {
  //   margin-right: 48px;
  // }

  .contentContainer_left .innerContainer {
    margin-left: 48px;
  }
}

@media screen and (max-width: $min-desktop) {
  .contentBlock h2 {
    font-size: 1.375rem;
  }

  .contentBlock p {
    font-size: 1rem;
  }

  .innerContainer {
    width: 100%;
    max-width: 100%;
    padding: $general-spacing-md;
  }

  .contentBlock {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px;
  }

  .twoColumnContentSectionContainer {
    display: grid;
    grid-template-columns: none;
  }

  .contentContainer_right {
    margin-right: 0;
  }

  .imageContainer_right {
    grid-row: 2;
    grid-column: 1;
  }

  .imageContainer_left {
    grid-row: 2;
    grid-column: none;
  }

  .contentLinkButton {
    width: 100%;
  }
}
