@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_layoututils.scss";

.twoColumnContentSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.contentContainer_left {
  grid-column: 2;
  grid-row: 1;
  // padding: var(--36, 9rem) var(--container-desktop-gap, 3rem) var(--36, 9rem)
  //   var(--section-padding-desktop-margins, 8rem);
}

.imageContainer_left {
  grid-column: 1;
  grid-row: 1;
}

.contentContainer_right {
  grid-column: 1;
  grid-row: 1;
  // padding: var(--36, 9rem) var(--container-desktop-gap, 3rem) var(--36, 9rem)
  //   var(--section-padding-desktop-margins, 8rem);
}

.imageContainer_right {
  grid-column: 2;
  grid-row: 1;
}

.image {
  width: 100%;
}

@media screen and (max-width: $break-tablet-s) {
  .twoColumnContentSectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
