@import "app/styles/utils/_helpers.scss";

.section {
  padding: $section-padding-desktop-vertical $general-spacing-md;

  @media screen and (max-width: $break-tablet-l) {
    padding: $section-padding-mobile-vertical $general-spacing-md;
  }

  &.secondary {
    background-color: $color-secondary;
    .description {
      color: $text-primary;
    }
  }

  &.tertiary {
    background-color: $color-brand-dark;
    .title,
    .description {
      color: $white;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $general-spacing-lg;
  gap: $general-spacing-xl;

  @media screen and (max-width: $break-tablet-s) {
    gap: $general-spacing-s;
    align-items: stretch;
    flex-direction: column;
  }

  .title {
    margin-bottom: $general-spacing-s;
    @media screen and (max-width: $break-tablet-p) {
      font-size: 1.625rem;
    }
  }

  .description {
    font-size: 18px;
    color: $text-secondary;
    @media screen and (max-width: $break-tablet-p) {
      font-size: 1rem;
    }
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-content;
}
