.CategoriesList{
  color: black;
}

.CategoriesListHeader {
  color: black;
  font-weight: bold;
}

.Category{
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
}

.CategoriesListArrow{
  width: 25px;
  height: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.CategoryName{
  cursor: pointer;
}

.AddCategory {
  float: right;
  font-size: small;
  color: black;
  cursor: pointer;
}

.updateCategory{
  float: right;
  font-size: small;
  color: black;
  cursor: pointer;
}
