@import "~styles/utils/_helpers.scss";

// Advanced Search Box Styles

.advancedSearchContainer {
  width: 85%;
  max-width: 1250px;
  margin: 90px auto;
  padding: 42px 60px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  @media screen and (max-width: $min-tablet-p) {
    width: 100%;
    padding: 15px;
    box-shadow: none;
    border: none;
  }
}

.header {
  font-size: 26px;
  font-weight: 700;
}

.blurb {
  margin: 10px 0 20px;
}

.searchBoxForm {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 14px 26px;
  @media screen and (max-width: $break-tablet-p) {
    padding: 14px 15px;
  }
}

.searchInputContainer {
  display: grid;
  grid-template-areas: "input button filter";
  grid-template-columns: 66fr 18fr 50px;
  gap: 35px;
  @media screen and (max-width: $break-tablet-p) {
    grid-template-areas:
      "input filter"
      "button button";
    grid-template-columns: repeat(1, 1fr);
    row-gap: 7px;
    column-gap: 4px;
  }
}

.searchInput {
  grid-area: input;
  border-radius: 8px;
  background: url("../../assets/img/ic-search-blue.svg") center left 15px
    no-repeat;
  padding-left: 45px;
  height: 50px;
  background-color: #fff;
  border: solid 1px transparent;
  &:focus,
  &:hover {
    box-shadow: none;
    border-color: $color-brand;
  }
}

.submitButton,
.searchButton {
  height: 50px;
  max-width: 200px;
  grid-area: button;
  @media screen and (max-width: $break-tablet-p) {
    max-width: none;
  }
  &.disabled {
    background: $color-brand-light;
    pointer-events: none;
    cursor: default;
  }
}

.searchFilterButton {
  grid-area: filter;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &.expandedOptions {
    background-color: $color-brand;
  }
  &:active {
    box-shadow: none;
  }
}

.submitButtonRow {
  display: grid;
  justify-items: end;
  margin-top: 14px;
  @media screen and (max-width: $break-tablet-s) {
    display: block;
    margin-top: 20px;
  }
}

.submitButton {
  width: 200px;
  margin-bottom: 12px;
  @media screen and (max-width: $break-tablet-p) {
    width: 125px;
  }
  @media screen and (max-width: $break-tablet-s) {
    width: 100%;
    max-width: none;
  }
}
// End Advanced Search Box Styles

// Bookmark and Saved Search Styles
.bookmarkAndSavedSearchContainer {
  max-width: 1200px;
  width: 90%;
  margin: 70px auto;
  padding: 20px 30px;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  display: grid;
  gap: 18px;
  @media screen and (max-width: $min-tablet-p) {
    width: 100%;
    padding: 20px 5px;
  }
}

.bookmarksHeader {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.label {
  color: $color-grey5;
  font-weight: 600;
  border-bottom: solid 1px #d9d9d9;
}

.cardList {
  display: grid;
  gap: 11px;
  margin: 15px 0;
}

.cardItem {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr auto;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 0 25px 0 10px;
  min-height: 56px;
  p {
    color: #000;
    cursor: pointer;
  }
  img {
    width: 21px;
    height: auto;
  }
  @media screen and (max-width: $min-tablet-p) {
    padding: 0 10px 0 5px;
  }
}

.savedSearchEditButton {
  background: transparent;
  display: grid;
  justify-content: center;
  &:active,
  &:hover,
  &:focus {
    box-shadow: none;
  }

  .savedSearchEditIcon {
    color: #d9d9d9;
    font-size: 40px;
    line-height: 0.35;
  }
}

.bookmarkUpdated {
  text-align: center;
  font-size: 15px;
}
// End Bookmark and Saved Search Styles
