@import "../../../styles/utils/_helpers.scss";

.mastheadContainer {
  background: $surface-4;
  padding: var(--section-padding-desktop-vertical, 6rem)
    var(--section-padding-desktop-margins, 8rem);
}

.mastheadHeader {
  color: $text-tertiary;
}

@media screen and (max-width: $break-tablet-s) {
  .mastheadContainer {
    padding: var(--section-padding-mobile-vertical, 2rem)
      var(--section-padding-mobile-margins, 1rem);
  }
}
