@import '~styles/utils/_helpers.scss';

.refinementsBox {
  display: flex;
  margin: 16px 0;
  padding: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $break-tablet-s) {
    flex-direction: column;
    align-items: center;
  }

  &_title {
    color: $color-brand;
    @extend %font-size-large;
    width: 86px;
    margin-right: 26px;

    @media screen and (max-width: $break-tablet-s) {
      width: auto;
      margin: auto auto 15px;
    }
  }
}

.refinementsLabels {
  display: grid;
  gap: 45px;
  list-style: decimal inside;
}

.refinementsList {
  display: grid;
  gap: 8px;
}

.refinementsGroupLabel {
  display: list-item;
}

.refinementsLabel {
  cursor: pointer;
  padding-left: 8px;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;

  @media screen and (max-width: $break-tablet-p) {
    grid-template-columns: none;
  }
}
