@import '~styles/utils/_helpers.scss';

$max-modal-width: 500px;

.clientHandoutModal {
  width: $max-modal-width;
}

.title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}

.modalContent {
  display: grid;
  gap: 32px;
}

.handoutLink {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.33;
  padding: 10px 16px;
  width: 400px;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $color-brand;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
  }

  @media screen and (max-width: $break-tablet-s ) {
    width: 100%;
  }
}

.closeBtn {
  font-size: 16px;
  font-weight: 600;
  color: $color-brand;
  border-radius: 3px;
  width: 72px;
  height: 53px;
  padding: 10px 14px;
  justify-self: end;
  background-color: #fff;
  border: solid 1px $color-brand;
}