version: '3.5'
services:
  db:
    image: postgres:9.5
    networks: [askdarcel]
    ports: ['5432:5432']
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  api:
    image: sheltertechsf/askdarcel-api:latest
    networks: [askdarcel]
    ports: ['3000:3000']
    depends_on: [db]
    command: bash -c 'bundle install --with=development && bundle exec rake db:setup db:populate && bundle exec rails server --binding=0.0.0.0 -p 3000'
    environment:
      RAILS_ENV: development
      DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
      DATABASE_URL: postgres://postgres@db/askdarcel_development
      TEST_DATABASE_URL: postgres://postgres@db/askdarcel_test
      SECRET_KEY_BASE: abc123
      # ALGOLIA_APPLICATION_ID:
      # ALGOLIA_API_KEY:
      # ALGOLIA_INDEX_PREFIX:

  frontend:
    image: nginx:stable
    networks: [askdarcel]
    ports: ['8080:8080']
    depends_on: [api]
    environment:
      NGINX_API_URL: http://api:3000
      NGINX_PORT: 8080
      NGINX_SERVER_NAME: frontend
    volumes:
      - ./build:/app/askdarcel
      - ./docker/templates:/etc/nginx/templates

networks:
  askdarcel:
    name: askdarcel
