// This cannot be a Sass module as it styles elements
// included by Pagination, a 3rd party component

@import '~styles/utils/_helpers.scss';

.pagination-container {
  position: relative;
  z-index: 2;
  padding: 24px;
  background-color: $color-grey2;
}

.results-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ais-Pagination-item a {
  display: inline-block;
  width: 35px;
  margin: 0 3px;
  text-align: center;
}

.ais-Pagination-item--selected {
  font-weight: 900;
  font-size: 18px;
}

.ais-Pagination-item--nextPage, .ais-Pagination-item--previousPage {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 13px 8px;
  margin: 0 3px;
  font-size: 0.87rem;
  &:hover, &:active {
    border: 1px solid #276ce5;
  }
}

.ais-Pagination-item--disabled {
  opacity: 0.5;
  border: 0;
}

.algolia-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0;

  & > img {
    height: 16px;
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.addResource {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 20px 0 30px;
  font-size: 0.87rem;
  @media screen and (max-width: $break-tablet-s) {
    margin: 20px 0 30px;
  }
}

.addResourceButton {
  display: block;
  padding: 11px 14px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #666;
  margin-top: 15px;
  &:hover, &:active {
    border: 1px solid #276ce5;
    color: #276ce5;
  }
}
