@import "~styles/utils/_helpers.scss";

.paginationContainer {
  position: relative;
  z-index: 2;
  padding: 24px;
  background-color: $gray-50;

  :global(.ais-Pagination-link) {
    display: inline-block;
    width: 35px;
    margin: 0 3px;
    text-align: center;
    color: $black;
    padding: $general-spacing-md $spacing-0;

    &:hover {
      color: $black;
    }
  }

  :global(.ais-Pagination-item--selected) {
    font-weight: 900;
    font-size: 18px;
  }

  :global(.ais-Pagination-item--nextPage),
  :global(.ais-Pagination-item--previousPage) {
    margin: 0 3px;
    font-size: 0.87rem;
  }

  :global(.ais-Pagination-item--disabled) {
    opacity: 0.5;
    border: 0;
  }

  &.hidePagination {
    display: none;
  }
}

.resultsPagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.algoliaImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0;

  & > img {
    height: 16px;
  }
}
