@import 'app/styles/utils/_helpers.scss';

// The styles below were largely borrowed from https://moderncss.dev/pure-css-custom-checkbox-style

.inputDefaults {
  appearance: none;
  display: inline-grid;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  place-content: center;
  vertical-align: middle;
  border: 2.5px solid #9e9e9e;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: none;
  transition: none;
  cursor: pointer;

  &::after,
  &::before {
    content: '';
    transform: scale(0);
  }

  &::before {
    z-index: 1;
    width: 16px;
    height: 16px;
  }

  &::after {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 3px;
  }

  &:checked {
    border: 0;

    &::before {
      transform: scale(1);
      background-color: #fff;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &::after {
      transform: scale(1);
      background-color: $color-brand;
    }
  }

  &:active,
  &:hover,
  &:focus {
    box-shadow: initial;
  }
}
