@import "~styles/utils/_helpers.scss";

.bookmarkModal {
  width: 600px;
  padding: 33px;
  @media screen and (max-width: $break-tablet-s) {
    max-width: 600px;
    width: 100vw;
    padding: 20px 0 0;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  @media screen and (max-width: $break-tablet-s) {
    font-size: 28px;
  }
}

.modalContent {
  display: grid;
  gap: 35px;
  padding: 35px;
  background-color: #f5f5f5;
  @media screen and (max-width: $break-tablet-s) {
    padding: 20px 0;
  }
}

.bookmarkDescription {
  border-radius: 8px;
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "icon name"
    "icon url";
  grid-template-columns: 60px auto;
  column-gap: 20px;
  padding: 15px;
  .bookmarkIcon {
    // Nested style to override default material-symbols-outlined styles
    grid-area: icon;
    width: 60px;
    height: auto;
    font-size: 60px;
    color: $color-brand;
    align-self: center;
  }
}

.clearBookmarkButton {
  background-color: transparent;
  padding: 0;
  height: auto;
  align-self: start;
  &:hover,
  &:focus {
    box-shadow: none;
    border: 0;
    opacity: 0.7;
  }
}

.clearBookmarkText {
  cursor: pointer;
  color: #636363;
}

.bookmarkNameContainer {
  grid-area: name;
  display: flex;
  gap: 10px;
}

.bookmarkName {
  background-color: #fff;
  height: 35px;
  border: none;
  padding: 3px 3px 10px;
  font-size: 16px;
  &:hover,
  &:focus {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
  }
}

.bookmarkUrl {
  border-top: solid 1px #f5f5f5;
  grid-area: url;
  height: 35px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  cursor: default;
}

.selectFolderContainer {
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.selectFolder {
  cursor: default;
  display: flex;
  justify-content: space-between;
  padding: 13px 18px 8px;
}

.placeholder {
  color: #aaa;
}

.bookmarkFoldersList {
  display: flex;
  flex-direction: column;
  max-height: 110px;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  left: 0;
  background: #fff;
}

.folderListItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 5px 8px;
  .folderIcon {
    color: #d1d1d1;
  }
  &:hover {
    background-color: #edf5fed9;
  }
}

.addFolderItem {
  padding: 0 10px;
  border-top: solid 1px #f5f5f5;
  cursor: default;
  gap: 5px;
  &:hover {
    background-color: inherit;
  }
}

.addFolderLabel {
  width: 21px;
  height: 21px;
  border-radius: 4px;
  background-color: #d1d1d1;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.addFolderInput {
  padding: 6px 14px;
  background-color: #fff;
  border: none;
  font-size: 16px;

  &:hover,
  &:focus {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
  }
}

.label {
  color: $color-grey5;
  text-transform: uppercase;
  margin: 30px 3px 5px;
}

.buttonBar {
  display: flex;
  justify-content: center;
}

.addBookmarkBtn {
  width: 200px;
}
