@import '~styles/utils/_helpers.scss';

.clearAll {
  font-size: 16px;
  padding: 8px 0;
  color: $color-brand;
  cursor: pointer;
}

.checkBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: $color-grey5;
  padding: 8px 0;
  cursor: pointer;
  &.disabled {
    color: $color-grey4;
  }
}

.refinementInput {
  width: auto;
  margin-right: 10px;
  margin-left: 0;
  cursor: pointer;
}
