@import "../../styles/utils/_helpers.scss";

.container {
  max-width: $width-content;
  margin: $general-spacing-xxl auto;
  padding: $general-spacing-md;

  @include r_max($break-tablet-s) {
    margin: $general-spacing-lg auto;
  }

  h1,
  h2,
  h3,
  p,
  ul {
    margin-bottom: $general-spacing-md;
  }

  li {
    margin-bottom: $general-spacing-xs;
  }
}
