@import '../../../../styles/utils/_helpers.scss';

.title {
  margin-top: 1.5em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
}

.description {
  font-size: 1em;
  margin-top: 2em;
}

.input {
  background-color: $color-white;
  height: 50px;
  @media screen and (max-width: 900px ) {
    height: 35px;
  }
}

.label {
  font-size: 1em;
  color: $color-grey5;
  margin-top: 2em;
  display: block;
}

.dataRates {
  font-size: 0.9em;
  color: $color-grey5;
}

.checkBox {
  margin-top: 1em;
  font-size: 0.9em;
  color: $color-grey5;
  align-items: center;
}

.checkBox input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
  cursor: pointer;
}

.button {
  font-size: calc-em(16px);
  padding: calc-em(7px) calc-em(15px);
  background: $color-brand;
  color: $color-white;
  border-radius: 3px;
  margin-left: 20px;

  @media screen and (max-width: 900px ) {
    width: 100%;
    font-size: 14px;
    margin: 8px auto;
  }
  &.disabled {
    background: $color-brand-light;
  }
  &.cancel {
    border: 1px solid $color-brand;
    color: $color-brand;
    background: $color-white;
    @media screen and (max-width: 900px ) {
      display: none;
    }
    &:hover {
      background: $color-brand;
      color: $color-white;
    }
  }
}

.buttons {
  display: flex;
  margin-top: 2em;
  justify-content: flex-end;
  @media screen and (max-width: 900px ) {
    margin-top: 0;
  }
}
.privacy {
  margin-top: 2em;
  font-size: 14px;
  text-align: center;
  @media screen and (max-width: 900px ) {
    margin-top: 1em;
    font-size: 12px;
  }
}
