////////////////////////////////////////////////////////////////////////////////////////
// FORM ELEMENTS

.form-row {
  @extend %flex-row;
  > button {
    @include flex-grow(0);
  }
}

input, textarea {
  @extend %font-size-default;
  padding: calc-em(15px);
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	background-color: #F2F2F2;
	font-size: calc-em(17px);
	color: #333333;
  &:active, &:hover, &:focus {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  }
  &:disabled {
    box-shadow: none;
  }
  &.defaultNoHover {
    &:active, &:hover, &:focus {
      box-shadow: none;
    }
  }
}

textarea {
	resize: vertical !important;
}

button {
  @extend %font-size-default;
  border: 0;
  height: calc-em(44px);
  padding: calc-em(6px) calc-em(20px);
  color: $color-white;
  background: $color-green;
  display: inline-block;
  font-weight: 600;
  &:active, &:hover, &:focus {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  }

  &.danger {
    background: $color-red;
  }
}

button.filter-chip {
  border-radius: 3px;
  border: 1px solid #E0E0E0;
  padding: 5px 10px 5px 10px;
  background: $color-white;
  color: #666666;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  height: 32px;

  &.active {
    background-color: $color-brand;
    color: $color-white;
    font-weight: 600;
  }

  &:active, &:hover, &:focus {
    box-shadow: none;
  }
}

button, input, textarea {
  transition: all 200ms ease;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
	font-size: calc-em(17px);
	font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
	font-size: calc-em(17px);
	font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
	font-size: calc-em(17px);
	font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
	color: #999999;
	font-size: calc-em(17px);
	font-style: italic;
}
