@import "../utils/helpers";

.ReactModal__Body--open {
  position: fixed;
}

body {
  overflow-x: hidden;
}

body.lock-scroll {
  @media (max-width: $break-desktop-s) {
    overflow: hidden;
    max-height: 100vh;
  }
}

// a11y focus states
a,
button,
input,
select {
  &:active,
  &:focus {
    outline: 3px solid $black;
    border-radius: $rounded-md;
  }
}

pre {
  background: #eee;
  margin: $padding-large;
  padding: $padding-large;
  border-radius: $padding-default;
  overflow-x: auto;
}

// Card Styles
// TODO: move these to appropriate modules?
.card {
  border: 1px solid #ccc;
  width: 100%;
  // min-width: 440px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: none;
    background: #eee;
  }

  img {
    // TODO This assumes only one image per card
    float: right;
    max-width: 100px;
    margin-left: $padding-default;
  }

  .content {
    padding: $padding-default;

    h3 {
      color: #333;
    }

    h4 {
      font-size: 14px;

      span {
        display: inline-block;

        &::after {
          content: " • ";
          padding: $padding-default;
        }

        &:last-of-type {
          &::after {
            content: "";
          }
        }
      }
    }

    p {
      font-size: 14px;
    }
  }
}

.tippy-tooltip {
  padding: $general-spacing-xs;

  &:hover {
    .arrow-regular {
      background: #eee;
    }
  }

  .card {
    border: 0;
    text-align: left;
  }
}

.rendered-markdown {
  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul {
    padding: 16px 26px;

    li {
      list-style-type: disc;
    }
  }

  ol {
    padding: 16px 26px;

    li {
      list-style-type: decimal;
    }
  }
}

button,
select {
  color: $color-tertiary;
}

@media print {
  // Hide from print view
  .no-print {
    display: none !important;
  }

  // Only show in print view
  .print-only {
    display: block;
  }
}

@media screen {
  // Don't show in non-print view
  .print-only {
    display: none;
  }
}

// Screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
