//////////////////////////////////////////////////////////////////////////////////////////
// SITE FOOTER

.site-footer {
  @extend .base-max-width;
  color: $color-grey;
  text-align: center;
  margin: calc-em(25px) auto;
  a {
    color: $color-grey;
  }
  ul {
    display: inline-block;
    text-align: left;
  }
}
