.landing-page-card {
  margin: 5px;
  height: 310px;
  background-color: white;
  display: flex;
  flex: 0 0 305px;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;

  @include r_max($break-tablet-p) {
    flex-basis: 250px;
    height: 267px;
  }
}

$text-card-flex-basis: 230px;

.landing-page-text-card {
  margin: 5px;
  height: 100px;
  background-color: white;
  display: flex;
  flex: 0 0 $text-card-flex-basis;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 1;

  @include r_max($break-tablet-p) {
    height: 100px;
  }
}

.landing-page-text-card__title {
  font-size: 16px;
  color: #000;
  padding: 20px;
  flex: 0 0 65px;
  font-weight: 600;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.landing-page-card__title {
  font-size: 18px;
  color: #000;
  padding: 20px;
  flex: 0 0 65px;

  @include r_max($break-tablet-p) {
    font-size: 16px;
    text-align: center;
  }
}

.landing-page-card__image {
  background-repeat: no-repeat;
  max-width: 100%;
  flex: 0 0 150px;

  @include r_max($break-tablet-p) {
    flex-basis: 100px;
  }
}

.landing-page-card__content {
  flex: 0 0 95px;
  padding: 15px 20px;
}

.carousel-nav {
  position: absolute;

  $carousel-nav-button-size: 44px;
  width: $carousel-nav-button-size;
  height: $carousel-nav-button-size;

  top: 50%;
  transform: translateY(-50%);
  right: -($carousel-nav-button-size / 2);

  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-image: url(../assets/img/nav/navCarousel.svg);
  background-position: center;

  z-index: 10;
}

.carousel-wrapper {
  position: relative;
  overflow: visible;
}

.carousel {
  display: flex;
  overflow: hidden;
}
