@import "~styles/utils/_helpers.scss";

//////////////////////////////////////////////////////////////////////////////////////////
// ORGANIZATION PAGE STYLES

.org-container {
  background: $color-grey1;
  padding: 0;

  // temp until listing page layout is created
  h1 {
    @include r_max($break-tablet-s) {
      font-size: 32px;
      margin-bottom: $general-spacing-md;
    }
  }
}

.org {
  background: $color-white;
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG MAIN INFO

.org--main {
  width: 100%;
  max-width: calc-em(1000px);
  padding: calc-em(20px);
  margin: calc-em(34px) auto 0;
  display: flex;
  &--left {
    width: calc-em(660px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  }

  section {
    th,
    td {
      padding: $general-spacing-s 0;

      p {
        padding: $spacing-0;
      }
    }

    th {
      font-family: "Montserrat";
      font-size: 18px;
      width: 150px;
      padding-right: $general-spacing-lg;
      @include r_max($break-tablet-s) {
        width: 100px;
        font-size: 16px;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG HEADER

.org--main--header {
  &--rating {
    margin-top: calc-em(10px);
  }
  &--hours {
    margin-top: calc-em(10px);
    color: #888888;
  }
  &--phone {
    margin-top: calc-em(5px);
    color: #888888;
  }

  .badges {
    display: flex;
    float: right;
    flex-direction: column;
    margin-right: $padding-default;
    .mohcd-funded {
      width: 55px;
      margin: 10px auto;
    }
  }
}

.weekly-hours-list {
  &--item {
    display: flex;
    line-height: 1.5;
    &--day {
      width: calc-em(130px);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// ORG ASIDE

.org--aside {
  max-height: 100vh;
  padding: 0 0 0 calc-em(30px);
  width: 100%;
  max-width: calc-em(240px);
  display: flex;
  flex-direction: column;
  gap: $general-spacing-s;

  @include r_max($break-tablet-s) {
    display: none;
  }
}
