@import 'app/styles/utils/_helpers.scss';

// Todo: Look into standardizing radio button styles across browsers
.radioDefaults {
  width: 24px;
  height: 24px;
  margin: 0;
  box-shadow: none;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    box-shadow: initial;
  }
}
