@import "../../styles/utils/_helpers.scss";

.service--program--details {
  font-family: "Montserrat";
  font-size: 18px;
  @include r_max($break-tablet-s) {
    font-size: 16px;
  }
}

p {
  padding-left: $spacing-0;
  line-height: 150%;
}

a {
  color: $link-blue-default;

  &:hover {
    color: $link-blue-hover;
  }
}

p,
a,
table {
  @include r_max($break-tablet-s) {
    font-size: 14px;
    line-height: 125%;
  }
}

// TODO: Make reusable InfoTable component rather than global edits
section {
  th,
  td {
    padding: $general-spacing-s 0;

    p {
      padding: $spacing-0;
    }
  }

  th {
    font-family: "Montserrat";
    font-size: 18px;
    width: 150px;
    padding-right: $general-spacing-lg;
    @include r_max($break-tablet-s) {
      width: 100px;
      font-size: 16px;
    }
  }

  .service-loc-hours-section {
    border: 1px solid $border-lightgray;
    border-radius: $rounded-md;

    th {
      font-family: "Inter" !important;
      font-size: 16px !important;
    }
  }

  tr:hover {
    background-color: inherit;
  }
}
