@import "../../styles/utils/_helpers.scss";

//////////////////////////////////////////////////////////////////////////////////////////
// SERVICE PAGE STYLES
.listing-container {
  background: $color-grey1;
  padding: $section-padding-desktop-vertical $general-spacing-md;
  background: $color-white;

  @include r_max($break-tablet-s) {
    padding: $section-padding-mobile-vertical $general-spacing-md;
  }
}

.listing {
  color: $text-secondary;

  h1,
  h2,
  h3,
  h4 {
    color: $text-primary;
  }

  h1 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: $padding-default;
    @include r_max($break-tablet-s) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 2rem;
    padding-bottom: $general-spacing-lg;
    @include r_max($break-tablet-s) {
      font-size: 26px;
    }
  }

  .service--program--details {
    font-family: "Montserrat";
    font-size: 18px;
    @include r_max($break-tablet-s) {
      font-size: 16px;
    }
  }

  p {
    padding-left: $spacing-0;
    line-height: 150%;
  }

  a {
    color: $link-blue-default;

    &:hover {
      color: $link-blue-hover;
    }
  }

  p,
  a,
  table {
    @include r_max($break-tablet-s) {
      font-size: 14px;
      line-height: 125%;
    }
  }

  // TODO: Make reusable InfoTable and Section components rather than general edits
  section {
    border-bottom: 1px solid #eee;
    padding: $general-spacing-xl 0;
    @include r_max($break-tablet-s) {
      padding: $general-spacing-lg 0;
    }

    p {
      white-space: pre-line;
    }

    th,
    td {
      padding: $general-spacing-s 0;

      p {
        padding: $spacing-0;
      }
    }

    th {
      font-family: "Montserrat";
      font-size: 18px;
      width: 150px;
      padding-right: $general-spacing-lg;
      @include r_max($break-tablet-s) {
        width: 100px;
        font-size: 16px;
      }
    }

    .service-loc-hours-section {
      border: 1px solid $border-lightgray;
      border-radius: $rounded-md;

      th {
        font-family: "Inter" !important;
        font-size: 16px !important;
      }
    }

    tr:hover {
      background-color: inherit;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// SERVICE MAIN INFO

.listing--main {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;

  &--left {
    width: calc-em(672px);
    padding-right: $padding-large;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  }
  @include r_max($break-tablet-s) {
    margin-top: 0;
    &--left {
      padding-right: 0;
    }
  }
}

.listing--aside {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 1rem;
  width: fit-content;

  @include r_max($break-tablet-s) {
    display: none;
  }
}

.rendered-markdown {
  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul {
    padding: 16px 26px;

    li {
      list-style-type: disc;
    }
  }

  ol {
    padding: 16px 26px;

    li {
      list-style-type: decimal;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// MAP STYLES

.map {
  @include r_max($break-tablet-s) {
    margin-top: calc-em(10px);
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG SERVICES

// NOT APPLICABLE TO SERVICE LISTING PAGE, REMOVE AFTER CREATING ORG PAGE SCSS
.service--section {
  margin-top: calc-em(20px);
  &--header {
    border-bottom: 1px solid #dddddd;
    h4 {
      @extend %font-size-medium;
      display: inline-block;
      color: #1c72e6;
      font-weight: bold;
      padding-bottom: calc-em(10px);
      border-bottom: 3px solid #1c72e6;
    }
  }

  .service {
    margin-top: calc-em(30px);
    padding-top: calc-em(30px);
    border-top: 1px solid #dddddd;
    &:first-of-type {
      border-top: 0;
      margin-top: 0;
    }
    &--meta {
      display: flex;
      justify-content: space-between;
      margin-right: calc-em(60px);
      p {
        @extend %font-size-small;
        color: #888888;
      }
    }
    &--header {
      @extend %font-size-large;
      font-weight: 600;
      color: #333333;
    }
    &--description {
      margin-top: calc-em(15px);
      p {
        white-space: pre-line;
        padding-right: 6px;
        margin-top: calc-em(10px);
      }
    }
    &--details-toggle {
      margin-top: calc-em(20px);
      color: #1c72e6;
      cursor: pointer;
      i {
        transform: translateY(2px);
      }
    }
    &--details {
      margin-top: calc-em(40px);
      &--item {
        display: flex;
        margin-top: calc-em(20px);
        &:last-of-type {
          .service--details--item--info {
            border-bottom: 0;
          }
        }
        header {
          width: calc-em(130px);
          margin-right: calc-em(20px);
          color: #333333;
          font-weight: 600;
          flex-grow: 0;
          flex-shrink: 0;
        }
        &--info {
          flex-grow: 1;
          border-bottom: 1px solid #dddddd;
          padding: 0 calc-em(60px) calc-em(20px) 0;
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// ORG INFO

// SAME AS ABOVE
.info--section {
  margin-top: calc-em(50px);
  .info {
    margin-top: calc-em(30px);
    display: flex;
    width: calc-em(600px);
    flex-wrap: wrap;
    &--column {
      width: 50%;
      @include r_max($break-tablet-s) {
        width: 100%;
      }
      > span {
        display: block;
        margin-top: calc-em(10px);
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

.weekly-hours-list {
  &--item {
    display: flex;
    line-height: 1.5;
    &--day {
      width: calc-em(130px);
    }
  }
}

.relativeTime {
  padding: $padding-default;
  font-weight: bold;
}
