@import '../../styles/utils/helpers';

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 70px;
  background: rgba(0, 0, 0, 0.2);
}

.popup {
  position: relative;
  width: 500px;
  height: 660px;
  background: #FFFFFF;
  margin: 35px auto;
  padding: 35px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  @media screen and (max-width: 900px ) {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 5px 10px;
  }
}
.heading {
  margin-bottom: 30px;
}

.title{
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
}

.description {
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
}

.input {
  background-color: $color-white;
  height: 50px;
}

.inputField{
  margin-top: 2em;
}
.label {
  font-size: 16px;
  line-height: 30px;
  color: $color-grey5;
}

.dataRates {
  font-size: 14px;
  line-height: 30px;
  color: $color-grey5;
}
.checkBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: $color-grey5;
  padding: 8px 0;
  cursor: pointer;
}

.checkBox input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
  margin-left: 0;
  cursor: pointer;
}

.button {
  color: #FFFFFF;
  font-size: calc-em(16px);
  padding: calc-em(7px) calc-em(15px);
  // border: 1px solid $color-brand;
  background: $color-brand;
  color: $color-white;
  border-radius: 3px;
  width: 30%;
  margin-left: 20px;

  @media screen and (max-width: 900px ) {
    width: 30%;
    font-size: 14px;
    padding: 5px 10px;
  }
  &.disabled {
    background: $color-brand-light;
  }
  &.cancel {
    border: 1px solid $color-brand;
    color: $color-brand;
    background: $color-white;
    &:hover {
      background: $color-brand;
      color: $color-white;
    }
  }
}


.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}
.privacy {
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
}

.closeIcon {
  width: 17.42px;
  cursor: pointer;
}

.closeIconDiv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  
}