@import "app/styles/utils/_helpers.scss";

.container {
  background: $surface-4;
  color: $text-tertiary;

  .innerContainer {
    margin: 0 auto;
    padding: $spacing-6 $general-spacing-lg;
  }

  @media screen and (max-width: $break-tablet-s) {
    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
