@import 'app/styles/utils/_helpers.scss';

@mixin buttonBasic {
  border-radius: 8px;
  color: $color-white;
  background-color: $color-brand;
  height: 56px;
  padding: 0;
}

.medium {
  @include buttonBasic;
  width: 120px;
}

.large {
  @include buttonBasic;
  width: 218px;
}
