@import "~styles/utils/_helpers.scss";

.modalOverlay {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: auto;
  background: rgba(14, 14, 14, 0.45);
}

.modal {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  @media screen and (max-width: $break-tablet-s) {
    padding: 30px;
    // Prevent ugly/confusing rounding of corners when
    // modal takes up entirety of mobile screen
    border-radius: 0;
  }
}

.closeModalIcon {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;
  cursor: pointer;
  @media screen and (max-width: $break-tablet-s) {
    top: 10px;
    right: 10px;
  }
}
