@import '~styles/utils/_helpers.scss';

.qrCodeModal {
  width: 500px;
  padding: 50px 32px;
}

.modalContent {
  display: grid;
  justify-items: center;
  gap: 70px;
}

.description {
  text-align: center;
  display: grid;
  gap: 20px;
}

.title {
  color: #000;
  font-size: 26px;
  font-weight: 700;
}

.body {
  color: #000;
  font-size: 20px;
}

.closeBtn {
  width: 128px;
  height: 53px;
  border-radius: 3px;
  font-size: 16px;
}
