@import "../../styles/utils/_helpers.scss";

.locationTimesAccordion {
  .accordionButton {
    width: 100%;
    padding: $general-spacing-md;

    &:focus,
    &:active {
      margin: 3px 0; // to make focus outline visible
    }

    &:hover {
      background-color: $gray-100;
    }
  }

  .accordionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    color: $text-primary;
    font-weight: 600;
    width: 100%;
    margin: 0;
    font-size: 18px;
  }

  .accordionContent {
    padding-bottom: $general-spacing-md;
  }

  .activeItem {
    background: $gray-50;
  }
}
