@import "~styles/utils/_helpers.scss";

.outerContainer {
  /* Creates a stacking context such that everything inside of the
   * .outerContainer is either above or below anything outside of the
   * .outerContainer. One example of something outside of the .outerContainer is
   * modals. */
  z-index: 0;
}

// Until new nav is introduced, screen reader is reading hamburger links on desktop. This fixes that.
.hamburgerContainer {
  @media screen and (min-width: $min-desktop) {
    display: none;
  }
}
