@import '~styles/utils/_helpers.scss';

.results-map {
  position: sticky;
  width: 100%;
  height: calc(100vh - $header-height);
  top: $header-height;
  margin-left: auto;
  @media screen and (max-width: $break-tablet-s) {
    position: relative;
    top: 0;
    height: 50vh;
    min-height: 250px;
  }
}

.results-map-inner {
  width: 100%;
}

.marker {
  transform:translateY(-50%);
  position: absolute;
  height: 55px;
  width: 30px;
  top: -27px;
  left: -15px;
  cursor: pointer;
}

.tippy-tooltip-content {
  .entry-details {
    text-align: start;
    padding: 20px;
  }
}

.map-wrapper {
  height: 100%;
}
