.header_root {
  background: $color-brand;
  color: $color-white;
}

.header_container {
  margin: 0 auto;
  padding: calc-em(15px) 0;
  max-width: $max-content-width;
}

.header_brand {
  @extend .font-size-hero;
  color: $color-white;
  text-decoration: none;
}

.header_brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
