//////////////////////////////////////////////////////////////////////////////////////////
// HERO

.header-large {
  .push {
    height: $navigation-height;
  }
  .hero {
    width: 100vw;
    height: calc-em(450px);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: calc-em(85px) 0;
    h1 {
      @extend .h1-hero;
      text-align: center;
    }
  }
  .search-container {
    max-width: calc-em(800px);
    width: 90%;
    margin: calc-em(40px) auto 0;
  }
  input, button {
    height: calc-em(60px);
  }
}
