//////////////////////////////////////////////////////////////////////////////////////////
// NAVIGATION

$navigation-height: calc-em(80px);

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: $navigation-height;
  background: $color-brand;
  padding: calc-em(15px) calc-em(20px);
}

.navbar-brand {
  img {
    height: calc-em(44px);
    width: auto;
  }
}
