@import '~styles/utils/_helpers.scss';

$max-modal-width: 850px;

.clinicianActionsOverlay {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: auto;
  background: rgba(14, 14, 14, 0.45);
}

.clinicianActions {
  position: relative;
  width: $max-modal-width;
  padding: 50px;
  background-color: $color-white;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  @media screen and (max-width: $break-tablet-p ) {
    width: 100%;
    max-width: $max-modal-width;
  }
}

.closeModal {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}

.actionLists {
  display: grid;
  gap: 16px;
  padding: 32px 0 40px;
}

.actionListContainer {
  padding: 16px;
  font-size: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.actionType {
  font-weight: 700;
  line-height: 1;
  padding-bottom: 1em;
}

.actionList {
  list-style: initial;
  list-style-position: inside;
  padding-left: 10px;
}

.buttonBar {
  display: flex;
  justify-content: end;
}

.closeBtn {
  width: 128px;
  border-radius: 0;
  font-size: 14px;
  font-weight: 800;
}
