@import 'app/styles/utils/_helpers.scss';

.button {
  border-radius: 8px;
  color: $color-white;
  background-color: $color-brand;
  min-width: 120px;
  height: 56px;
  padding: 0 18px;
}

.buttonTransparent {
  border-radius: 3px;
  color: $color-brand;
  background-color: transparent;
  min-width: 120px;
  height: 42px;
  padding: 0 18px;
  border: 1px solid $color-brand;
}

.medium {
  width: 120px;
}

.large {
  width: 218px;
}
