@import 'app/styles/utils/_helpers.scss';


.button {
  border-radius: 8px;
  color: $color-white;
  background-color: $color-brand;
  min-width: 120px;
  height: 56px;
  padding: 0 18px;

  &:disabled {
    cursor: not-allowed;
  }
}

.medium {
  width: 120px;
}

.large {
  width: 218px;
}
