@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";

.navigationMenuLink {
  font-family: Montserrat;
  font-size: 18px;
  text-decoration: none;
  color: $text-primary;
  padding: $spacing-3 $spacing-3;

  &:hover {
    text-decoration: none;
    color: $color-brand-dark;
  }
}
