@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";

.navigationMenuLink,
.navigationMenuHeader {
  padding: $spacing-2 $spacing-3;
}

.navigationMenuContainer {
  // Important to override react-burger-menu lib styles
  display: flex !important;
  flex-direction: column;
  align-items: center;

  > * {
    font-size: 18px;
    font-family: Montserrat;
  }
}

.navigationSubMenu {
  position: absolute;
  z-index: $z-index-top;
  top: 65px;
  background: $white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: $rounded-md;
  overflow: hidden;
  font-weight: 400;
}

.navigationMenuHeader {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 600;

  &[aria-expanded="true"] {
    color: $color-brand-dark;
  }

  &:hover {
    color: $color-brand-dark;
  }
}

.navigationSubMenuItem,
.navigationMenuHeader {
  a {
    padding: $spacing-2 $spacing-4;
  }

  a:hover {
    background: $gray-50;
    color: inherit;
  }

  .navigationMenuLink {
    &:focus {
      border-radius: 0;
      margin: 3px;
    }
  }
}

.navigationMenuLink {
  font-family: Montserrat;
  font-size: 18px;
  text-decoration: none;
  color: $text-primary;

  &:hover {
    text-decoration: none;
    color: $color-brand-dark;
  }
}

.navigationSubMenu .navigationMenuLink {
  // flex ensures each menu link fills width of widest item
  display: flex;
  text-decoration: none;
  color: $text-primary;

  &:hover {
    text-decoration: none;
    color: $text-primary;
  }
}

.categoryMenuContainer {
  position: relative;
  min-width: 160px;

  .navigationSubMenu {
    top: 50px;
    left: 0;
  }

  .navigationMenuHeader {
    gap: 10px;
    font-size: 26px;
    font-family: Montserrat;

    @include r_max($break-tablet-s) {
      font-size: 20px;
    }
  }

  .navigationMenuHeader .chevron {
    font-size: 20px;

    @include r_max($break-tablet-s) {
      font-size: 16px;
    }
  }
}
