@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";

.mobileNavigationContainer {
  position: absolute;
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  right: $spacing-6;
  top: $header-height;
  background: $white;
  width: 400px;
}

.menuActivator {
  display: none;
}

.mobileNavigationMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid $color-grey3;

  * {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
  }
}

.mobileNavigationMenuListItem {
  list-style: none;
  border-bottom: 1px solid $color-grey3;
  font-weight: 500;

  a {
    padding: $spacing-3 $spacing-4;
  }

  &:hover {
    background: $gray-50;
    color: inherit;
  }
}

.mobileNavigationMenuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $spacing-3 $spacing-4;
  font-size: 16px;

  &:last-child {
    border: none;
  }

  &:focus {
    border-radius: 0;
    margin: 3px;
  }

  .chevron {
    font-size: 14px;
  }
}

.mobileNavigationMenuBack {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: $spacing-3 $spacing-4;
  font-size: 16px;
  border-bottom: 1px solid #d1d5db;
  background: $color-grey1;

  &:focus {
    border-radius: 0;
    margin: 3px;
  }

  .chevron {
    font-size: 14px;
  }
}

// Should not be the same class for both single level and dropdown item
.mobileNavigationMenuLink {
  // flex ensures each menu link fills width of widest item
  display: flex;
  text-decoration: none;
  color: $text-primary;
  font-family: Montserrat;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    color: $text-primary;
  }

  &:focus {
    border-radius: 0;
    margin: 3px;
  }
}

.mobileNavigationMenuList {
  position: absolute;
  z-index: $z-index-top;
  overflow: hidden;
  top: 0;
  border-radius: 0;
  width: 100%;
  background: $white;
  visibility: hidden;
}

.mobileNavigationMenuHeader:has(+ .mobileNavigationMenuListOpen) {
  visibility: hidden;
  display: none;
}

.mobileNavigationMenuListOpen {
  visibility: visible;
  width: 100%;
}

.mobileTopLevelNavigationMenuItem {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.mobileNavigationMenuTranslate {
  padding: $general-spacing-md;
}

.activatePushPanelButton {
  font-size: 18px !important;
  font-family: Montserrat;
  font-weight: 500;
}

// Less than desktop
@include r_max($break-desktop-s) {
  .menuActivator {
    display: flex;
    align-items: center;
  }
  .mobileNavigationContainer {
    top: $header-mobile-height;
  }
}

// Less than tablet
@include r_max($break-tablet-s) {
  .mobileNavigationContainer {
    top: $header-mobile-height;
  }
}
