@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";

// Edit naming conventions for clarity

.sidebar {
  @media screen and (min-width: $break-tablet-s) {
    display: none;
  }
}

.mobileNavigationMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid $color-grey3;

  * {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
  }
}

.mobileNavigationMenuListItem {
  list-style: none;
  border-bottom: 1px solid $color-grey3;
  font-weight: 500;

  a {
    padding: $spacing-3 $spacing-4;
  }

  &:hover {
    background: $gray-50;
    color: inherit;
  }
}

.mobileNavigationMenuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $spacing-3 $spacing-4;
  font-size: 16px;

  &:last-child {
    border: none;
  }

  &:focus {
    border-radius: 0;
    margin: 3px;
  }

  .chevron {
    font-size: 14px;
  }
}

// Should not be the same class for both single level and dropdown item
.mobileNavigationMenuLink {
  // flex ensures each menu link fills width of widest item
  display: flex;
  text-decoration: none;
  color: $text-primary;
  font-family: Montserrat;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    color: $text-primary;
  }

  &:focus {
    border-radius: 0;
    margin: 3px;
  }
}

.mobileNavigationMenuList {
  position: absolute;
  z-index: $z-index-top;
  overflow: hidden;
  top: 0;
  border-radius: 0;
  transition: transform 0.5s ease;
  width: 100%;
  transform: translateX(100%);
  background: $white;
}

.mobileNavigationMenuListOpen {
  transform: translateX(0);

  // Fills out entire sidebar
  width: 100%;
  height: 100%;
}

.mobileTopLevelNavigationMenuItem {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.mobileNavigationMenuTranslate {
  padding: $general-spacing-md;
}
