@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";

.siteNav {
  background: $color-white;
  position: sticky;
  top: 0;
  z-index: $z-index-site-nav;
  border-bottom: 1px solid $color-grey3;
}

// TODO: Remove with other white labeled sites
.siteNavSFFamilies {
  background: $color-sffamilies-nav;
}

.primaryRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  padding: $spacing-6;
  height: $header-height;
  gap: 32px;

  > :last-child {
    margin-left: auto;
  }
}

.navLeft {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @media screen and (max-width: $break-tablet-s) {
    gap: 5px;
    flex-direction: column;
    width: 345px;
  }
}

.navRight {
  display: flex;
  align-items: center;
}

.navLogo img {
  height: 50px;

  @include r_max($break-tablet-s) {
    height: 25px;
  }
}

.navigationMenuTranslate {
  width: 154px;

  @include r_max($break-tablet-s) {
    width: auto;
    padding: $spacing-3 $spacing-4;
  }
}

.desktopNavigationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  > :nth-last-child(2) {
    // Adds separator
    border-right: 1px solid black;
    padding-right: $spacing-4;
    margin-right: $spacing-4;
  }
  // margin-right: $spacing-6;

  > * {
    font-weight: 600;
  }
}

// Less than desktop
@include r_max($break-desktop-s) {
  .desktopNavigationContainer {
    display: none;
  }
  .primaryRow {
    height: $header-mobile-height;
    flex-wrap: wrap;
    padding: $spacing-4_5;
    gap: $spacing-2_5;

    :nth-child(3) {
      margin-left: auto;
    }
  }
}
// Less than tablet
@include r_max($break-tablet-s) {
  .primaryRow {
    height: $header-mobile-height;
    flex-wrap: wrap;
    padding: $spacing-4_5;
    gap: $spacing-2_5;

    :nth-child(1) {
      order: 1;
    }
    :nth-child(2) {
      order: 3;
      width: 100%;
    }
    :nth-child(3) {
      margin-left: auto;
      order: 2;
    }
  }
}
