@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";

.topBanner {
  width: 100vw;
  background: $gray-50;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 $general-spacing-md;

  justify-content: flex-end;

  .goog-te-gadget {
    display: flex !important;
  }
}
