/*
 * Colors
 * ========================================================================== */

$color-brand: #116EEA;
$color-brand-dark: #0856AD;

$color-green: #01C270;
$color-green-yellow: #AECA0D;
$color-orange: #F3AE00;
$color-red: #F93D3D;

$color-white: #ffffff;
$color-light: #f5f5f5;
$color-grey: #818181;
$color-dark: #444444;
$color-black: #222222;

/*
 * Layout
 * ========================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 600px;  /* Extra small screen / phone */
$screen-sm-min: 767px;  /* Small screen / tablet */
$screen-md-min: 960px;  /* Medium screen / desktop */
$screen-lg-min: 1140px; /* Large screen / wide desktop */
