@import "../../styles/utils/_helpers.scss";

ul.accordion {
  width: 100%;

  li {
    width: 100%;

    header {
      cursor: pointer;

      &:hover {
        background: $gray-50;
      }

      table {
        tbody {
          tr {
            padding: $general-spacing-md;

            td {
              padding: $general-spacing-md;
              vertical-align: middle;
            }
          }
        }
      }

      .selector {
        float: right;
        transition: all 0.2s ease-in-out;
      }
    }

    section {
      margin: 0;
      padding: 0;
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease-in-out;
      padding: 0 $padding-default;
      box-sizing: border-box;
    }

    &.open {
      background: $gray-50;

      header {
        .selector {
          transform: rotate(180deg);
        }
      }

      section {
        height: auto;
        padding: $padding-default;
      }
    }
  }
}

.accordion-item {
  padding-bottom: $general-spacing-md;
}
