@import '../../styles/utils/_helpers.scss';

.bannerContainer {
  display: grid;
  align-items: center;
  width: 100%;
  min-height: 98px;
  padding: calc-em(16px) calc-em(28px);
  color: black;
  background-color: $color-yellow;
  font-size: calc-em(22px);
  text-align: center;
  strong {
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    font-size: calc-em(16px);
  }
}

.alertIcon {
  width: 24px;
  height: 24px;
  margin-right: 22px;
}

.bannerLink {
  text-decoration: underline;
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}
