@import "../../styles/utils/_helpers.scss";
@import "../../styles/utils/_colors.scss";

.siteNav {
  background: $color-white;
  position: sticky;
  top: 0;
  z-index: $z-index-site-nav;
}

// TODO: Remove with other white labeled sites
.siteNavSFFamilies {
  background: $color-sffamilies-nav;
}

@mixin navRow {
  border-bottom: 1px solid $color-grey3;
}

.primaryRow {
  @extend %flex-row;
  @include navRow;
  height: $header-height;
  justify-content: space-between;
  padding: calc-em(10px) calc-em(30px);
  @include r_max($break-tablet-s) {
    padding: 0 13px;
    height: $header-mobile-height;
  }
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: center;
  @include r_max($break-tablet-s) {
    display: none;
  }
}

.navLogo img {
  height: 50px;

  @include r_max($break-tablet-s) {
    height: 25px;
  }
}

.activatePushPanelButton {
  font-size: 18px !important;
  font-family: Montserrat;
  font-weight: 500;

  @include r_min($break-tablet-p) {
    display: none !important; // !important is needed to override .form-row
  }
}

// Until new nav is introduced, screen reader is reading hamburger links on desktop. This fixes that.
.hamburgerContainer {
  @media screen and (min-width: $min-desktop) {
    display: none;
  }
}

.navigationMenuTranslate {
  @include r_max($break-tablet-s) {
    padding: $spacing-3 $spacing-4;
  }
}
