@import "../../styles/utils/_helpers.scss";

$input-height: 40px;
$border-width: 2px;
$focus-height: calc(#{$input-height} - (#{$border-width} * 2));

// TODO: need design consult for being in top bar
.navSearch {
  display: flex;
  // Fixes alignment on focus since box expands with outline set. Is there another way to handle
  // outline that won't affect height so dramatically?
  align-items: center;

  .searchField {
    padding: $general-spacing-s $general-spacing-md;
    border: $border-width solid $color-tertiary;
    border-right: none;
    border-radius: $rounded-full 0 0 $rounded-full;
    flex: 1;
    width: 400px;
    max-width: 100%;
    height: $input-height;

    &::placeholder {
      font-size: $font-size;
      font-style: normal;
    }
  }

  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $general-spacing-md;
    padding-left: $general-spacing-s;
    background-color: $color-tertiary;
    border: $border-width solid $color-tertiary;
    color: $white;
    border-radius: 0 $rounded-full $rounded-full 0;
    cursor: pointer;
    height: $input-height;
    width: 48px;
  }

  .searchField,
  .searchIcon {
    transition: none;

    &:focus {
      height: $focus-height !important;
      border: none;
      outline: $border-width solid $color-secondary;
      transition: none;
    }
  }

  @media screen and (max-width: $break-tablet-s) {
    margin-top: $spacing-1_5;
  }
}
