////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: #276ce5;
$color-brand-dark: #0856ad;
$color-brand-light: #b3d4fc;
$color-brand-verylight: #f1f5fa;

$color-green: #01c270;
$color-green-yellow: #aeca0d;
$color-yellow: #ffbc00;
$color-orange: #f3ae00;
$color-red: #e34646;

$color-status-red: #c4243a;
$color-status-green: #5bba81;
$color-status-amber: #ffb646;

$color-white: #fff;
$color-grey1: #f9f9f9;
$color-grey2: #f3f5f7;
$color-grey3: #f4f4f4;
$color-grey4: #cecece;
$color-grey5: #888;
$color-grey6: #666;
$color-grey7: #484848;
$color-grey8: #30383a;
$color-grey9: #242c2e;

$color-title: $color-grey9;
$color-textfade: $color-grey6;
$color-btn-primary: $color-brand;

////////////////////////////////////////////////////////////////////////////////////////
// SFFAMILIES COLORS
$color-sffamilies-nav: #ededed;
