////////////////////////////////////////////////////////////////////////////////////////
// HELPERS

@import "_mixins";
@import "_colors";
@import "_layoututils";
@import "_spacing";
@import "_borders";

////////////////////////////////////////////////////////////////////////////////////////
// TABLE VIEW

table {
  width: 100%;

  tr {
    transition: all 0.2s ease-in-out;

    th,
    td {
      padding: 10px;
      text-align: left;

      &.iconcell {
        max-width: $padding-xxlarge;
        $padding: 10px $padding-default;
      }
    }

    th {
      font-weight: bold;
      color: $color-textfade;
    }

    &:hover {
      background: $color-grey1;
    }
  }

  &.compact {
    width: auto;

    tr {
      td,
      th {
        padding: $padding-default $padding-large;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// TYPEFACES

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$font-family-base: "Inter", "Montserrat", "Open Sans", "Helvetica Neue", "Arial",
  sans-serif;

////////////////////////////////////////////////////////////////////////////////////////
// FONT SIZES

%font-size-x-large {
  font-size: 3rem;
  line-height: 125%;
  @include r_max($break-tablet-s) {
    font-size: 1.75rem;
  }
}
%font-size-large {
  font-size: 2rem;
  line-height: 125%;
  @include r_max($break-tablet-s) {
    font-size: 1.375rem;
  }
}
%font-size-medium {
  font-size: 1.625rem;
  line-height: 125%;
}

%font-size-default {
  font-size: $font-size;
}
%font-size-small {
  font-size: 0.875rem;
}
%font-size-tiny {
  font-size: 0.875rem;
}

////////////////////////////////////////////////////////////////////////////////////////
// FONT STYLES

html,
body {
  font-size: $font-size;
  line-height: 1.25;
  font-family: $font-family-base;
  font-weight: 400;
  word-wrap: break-word;
  color: $text-primary;
}

h1 {
  @extend %font-size-x-large;
  font-family: Montserrat;
  font-weight: 700;
  hyphens: auto;
}
h2 {
  @extend %font-size-large;
  font-family: Montserrat;
  font-weight: 700;
}
h3 {
  @extend %font-size-medium;
  font-family: Montserrat;
  font-weight: 700;
}
h4 {
  @extend %font-size-medium;
  font-family: Montserrat;
  font-weight: 600;
}
h5 {
  @extend %font-size-default;
  font-family: Montserrat;
  font-weight: 600;
}
p {
  @extend %font-size-default;
  font-weight: 400;
}
small {
  @extend %font-size-small;
}

a {
  color: $color-brand;
  cursor: pointer;
  &:hover {
    color: $color-brand-dark;
    text-decoration: underline;
  }
  @include transition(all 0.2s);
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
button {
  font-family: $font-family-base;
  cursor: pointer;
}
textarea,
input {
  font-family: $font-family-base;
}
%hide-text {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
::-moz-selection {
  background: $color-brand-light;
}
::selection {
  background: $color-brand-light;
}

p.message {
  color: $color-textfade;
  padding: $padding-large;
}

////////////////////////////////////////////////////////////////////////////////////////
// FONT AWESOME ICONS

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

////////////////////////////////////////////////////////////////////////////////////////
// MATERIAL ICONS

.material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;

  &.blue {
    color: $color-brand;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// MARKDOWN COMPONENT OVERRIDES

.org--main--header--description,
.service--description {
  h1 {
    @extend %font-size-medium;
    font-weight: 700;
    color: $text-primary;
  }

  h2 {
    @extend %font-size-small;
    font-weight: 700;
    color: $color-grey5;
  }

  h3,
  h4,
  h5,
  h6 {
    @extend %font-size-small;
    font-weight: 400;
    color: $text-primary;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// INTERCOM OVERRIDES
.intercom-launcher-frame {
  z-index: 3 !important;
  @media screen and (max-width: 800px) {
    display: none !important;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// Typography Classes

.heading-1 {
  color: $text-primary;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 3.75rem */
}

.heading-2 {
  color: $text-primary;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 3.75rem */
}

.heading-3 {
  color: $text-primary;
  font-family: Montserrat;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 3.75rem */
}

.heading-4 {
  color: $text-primary;
  font-family: Montserrat;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 3.75rem */
}

.subheading-medium {
  color: $text-primary;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 1.40625rem */
}

.subheading-semibold {
  color: $text-primary;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 1.40625rem */
}

.text-body {
  color: $text-primary;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
}

.text-body {
  color: $text-primary;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
}

.label-regular {
  color: $text-primary;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 1.09375rem */
}

.label-semibold {
  color: $text-primary;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 1.09375rem */
}
