////////////////////////////////////////////////////////////////////////////////////////
// LAYOUT

$font-size: 16px;
$break-tablet-s: 767px;
$min-tablet-p: 768px;
$break-tablet-p: 960px;
$break-tablet-l: 1140px;
$min-desktop: 1141px;
$break-desktop: 1439px;
$break-desktop-l: 1600px;
$break-desktop-xl: 2000px;
$padding-default: 6px;
$padding-large: 16px;
$padding-xlarge: 26px;
$padding-xxlarge: 36px;
$max-container-width: 1280px;

$header-height: 70px;
$header-mobile-height: 50px;

// Z-Index values
$z-index-site-nav: 3;
$z-index-filters-menu: 4;

%flex-row {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include align-items(center);
}

%flex-row-center {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

%flex-column {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(stretch);
}

%flex-center {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);
}

body {
  min-height: inherit;
  width:100%;
  top:0;
  left:0;
}

#root {
  @extend %flex-column;
  max-width: 100vw;
}

.search-page-container {
  // Create a stacking context so that any descendent elements that increase
  // their z-index cannot stack above elements in the stacking context of
  // .search-page-container, which includes the nav bar.
  position: relative;
  z-index: 0;
}

.disabled-feature {
  display: none !important;
}
