////////////////////////////////////////////////////////////////////////////////////////
// LAYOUT

@import "_spacing";

$font-size: 16px;
$break-tablet-s: 767px;
$break-tablet-p: 960px;
$break-tablet-l: 1184px;
$min-desktop: 1184px;
$break-desktop-s: 1280px;
$break-desktop: 1439px;
$break-desktop-l: 1600px;
$break-desktop-xl: 2000px;
$padding-default: $general-spacing-xs;
$padding-large: $general-spacing-md;
$padding-xlarge: $general-spacing-lg;
$padding-xxlarge: $general-spacing-xl;
$max-container-width: 1280px;

$header-height: 100px;
$header-mobile-height: 110px;

// Z-Index values
$z-index-edit-address-modal: 1;
$z-index-site-nav: 3;
$z-index-filters-menu: 4;
$z-index-top: 9;

body {
  min-height: inherit;
  width: 100%;
  top: 0;
  left: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  max-width: 100vw;
}

.search-page-container {
  // Create a stacking context so that any descendent elements that increase
  // their z-index cannot stack above elements in the stacking context of
  // .search-page-container, which includes the nav bar.
  position: relative;
  z-index: 0;
}

.disabled-feature {
  display: none !important;
}
