@import '~styles/utils/_helpers.scss';

.eligibilityPage {
  grid-column: 2 / 13;
  @media screen and (max-width: 1350px) {
    grid-column: 2/11;
  }

  @media screen and (max-width: $break-tablet-p) {
    grid-column: 2/12;
  }

  @media screen and (max-width: $break-tablet-s) {
    grid-column: 1/13;
  }
}

.eligibilitiesContainer {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  gap: 25px;

  @media screen and (max-width: 1350px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $break-tablet-p) {
    grid-template-columns: none;
  }

  @media screen and (max-width: $break-tablet-s) {
    margin: auto;
    grid-template-columns: none;
  }
}

.eligibilitiesBox {
  grid-column: 1 / 16;
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0.5px 2px rgb(0 0 0 / 20%);

  @media screen and (max-width: 1350px) {
    grid-column: 1;
  }

  @media screen and (max-width: $break-tablet-s) {
    flex-direction: column;
    align-items: center;
  }

  &_title {
    color: $color-brand;
    @extend %font-size-large;
    width: 4em;
    margin-right: 35px;
    @media screen and (max-width: $break-tablet-s) {
      width: auto;
      margin: auto auto 15px;
    }
  }
}

.eligibilitiesBtns {
  grid-column: 16 / 23;
  align-self: end;

  @media screen and (max-width: 1350px) {
    justify-self: end;
    grid-column: 1;
  }

  @media screen and (max-width: $break-tablet-p) {
    justify-self: center;
    margin-bottom: 100px;
  }
}

.goToResultsBtn {
  margin-left: 8px;
}

.eligibilitiesLabels {
  list-style: decimal;
}

.eligibilityListItem {
  display: list-item;
}

.eligibilityLabel {
  cursor: pointer;
  vertical-align: top;
  padding-left: 8px;
}

.eligibilityItem {
  margin-bottom: 8px;
}

.resourceNames {
  font-style: italic;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  margin-bottom: 15px;

  @media screen and (max-width: $break-tablet-p) {
    grid-template-columns: none;
  }
}
