@import '../../../styles/utils/colors';

.feedback-tags {
  margin-top: 10px;
}

.feedback-tags-container {
  display: flex;
  flex-wrap: wrap;
}

.feedback-tag {
  flex: 1 0 auto;
  border: 2px solid $color-brand;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  padding: 7px 24px;
  color: $color-brand;
  font-weight: 600;
  font-size: 16px;
}

.selected {
  color: $color-white;
  background: $color-brand;
}

.feedback-review {
  margin-top: 10px;
  textarea {
    resize: none !important;
    width: 450px;
    height: 170px;
    background: $color-grey1;
    border: 2px solid $color-brand;
    box-sizing: border-box;
    border-radius: 20px;
    &::-webkit-scrollbar {
      width: 0%;
    }
  }
}

.feedback-submit-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-top: 3.5em;
}

.feedback-submit-subheader {
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  width: 80%;
  margin-bottom: 3.5em;
}


.nav-button {
  background: $color-brand;
  width: 150px;
  padding: 0.375rem 1.25rem;
  margin: 25px 25px 0 25px;
  border-radius: 3px;
  &:disabled {
    opacity: 0.5;
  }
}

.back-button {
  background: $color-white;
  border: 2px solid $color-brand;
  color: $color-brand;
}