@import '../../../styles/utils/colors';

.voteIcons {
  display: flex;
  justify-content: space-between;
  width: 110px;
  height: 35px;
  margin-top: 15px;
  img {
    cursor: pointer;
  }
}

.stepsPrompt {
  font-weight: 600;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  @media screen and (max-width: 767px) {
    font-weight: bold;
    margin-bottom: 15px;
  }
}
.votePrompt {
  @media screen and (max-width: 767px) {
    width: 215px;
  }
}

.feedbackTags {
  margin-top: 10px;
}

.feedbackTagsContainer {
  display: flex;
  flex-wrap: wrap;
}

.feedbackTag {
  flex: 1 0 auto;
  border: 2px solid $color-brand;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  padding: 7px 24px;
  color: $color-brand;
  font-weight: 600;
  font-size: 16px;
  @media screen and (max-width: 767px) {
    margin: 10px;
    padding: 8px 15px;
    font-size: 18px;
  }
}

.selectedTag {
  color: $color-white;
  background: $color-brand;
}

.feedbackReview {
  margin-top: 10px;
}
.feedbackTextarea {
  resize: none !important;
  width: 450px;
  height: 165px;
  margin-top: 10px;
  background: $color-grey1;
  border: 2px solid $color-brand;
  box-sizing: border-box;
  border-radius: 20px;
  &::-webkit-scrollbar {
    width: 0%;
  }
  @media screen and (max-width: 767px) {
    max-width: 350px;
    height: 180px;
    margin-top: 7px;
  }
}

.feedbackSubmitHeader {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-top: 3.5em;
}

.feedbackSubmitSubheader {
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  width: 80%;
  margin-bottom: 3.5em;
  @media screen and (max-width: 767px) {
    font-weight: 600;
  }
}

.navButtonsContainer {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin-top: 30px;
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 40px;
  }
}

.navButtons {
  background: $color-brand;
  width: 150px;
  border-radius: 3px;
  &:disabled {
    opacity: 0.5;
  }
  &:only-child {
    margin: 0 auto;
  }
}

.backButton {
  composes: navButtons;
  background: $color-white;
  border: 2px solid $color-brand;
  color: $color-brand;
}
