.close-modal {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.feedback-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1c72e6;
}

.feedback-subheader {
  margin: 0 auto;
  width: 203.42px;
  font-size: 14.498px;
  line-height: 20px;
  text-align: center;
}

.vote-header {
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.vote-icons {
  width: 40%;
  height: 35px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  img {
    cursor: pointer;
  }
}
