@import '../../../styles/utils/colors';

.feedbackModalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.closeModal {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.feedbackHeader {
  font-weight: 600;
  font-size: 20px;
  color: $color-brand;
}

.feedbackSubheader {
  width: 200px;
  font-size: 15px;
}
