@import '../../../styles/utils/colors';

.feedbackModalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.closeModal {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.feedbackHeader {
  font-weight: 600;
  font-size: 20px;
  color: $color-brand;
}

.feedbackSubheader {
  width: 200px;
  font-size: 15px;
}

.stepsPrompt {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.voteIcons {
  display: flex;
  justify-content: space-between;
  width: 110px;
  height: 35px;
  margin-top: 10px;
  img {
    cursor: pointer;
  }
}
