.resourceWrapper {
  margin: 0 auto;
  padding: 26px;

  h1 {
    font-size: 36px;
    font-weight: bold;
  }
}

.resourceFrameWrapper {
  display: flex;
  flex-direction: column;
  min-height: 1280px;
}

.resourceFrame {
  flex: 1;
  height: 100%;
}
