@import '../../components/variables.scss';
@import '../../components/Resource/Resource.scss';

h1 {
  font-size: 34px;
  line-height: 1.5;
  color: #333333;
  margin: 10.75px 0 0 0;
}

h4 {
  font-size: 16px;
  margin: 10px 0 0 0;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.label {
  padding: 0 35px 0 15px;
}