.FoodMap__Page {
    margin: 0 auto;
    min-height: 100vh;
  
    p {
      font-size: 1.2em;
      line-height: 1.5;
    }
  }
  
  .FoodMap__Header {
    padding-top: 100px;
  
    h1 {
      font-size: 36px;
      font-weight: bold;
      hyphens: none;
    }
  
    @media screen and (max-width: 800px) {
      padding-top: 50px;
  
      h1 {
        font-size: 24px;
      }
  
      p {
        font-size: 16px;
      }
  
    }
  
    p {
      max-width: 600px;
      width: 90%;
      margin-top: 30px;
    }
  }
  
  .FoodMap__DocEmbed {
    @media screen and (width: 375px) {
    position: sticky;
    width: 100%;
    top: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    height: calc((100vh) - 135px);
    }
  }
  @media screen and (min-width: 800px) {
    .FoodMap__DocEmbed{
    width: 800px;
    height: 80vh;
    
  }
  .FoodMap__Page{
    width: 800px;
    height: 80vh;
  }
  }

// Use for the styles of the banner
.FoodMap__banner {
    position: sticky;
}