@import "../../styles/utils/helpers";

.action-bar-mobile {
  display: none;
  @include r_max($break-tablet-s) {
    display: flex;
    gap: $general-spacing-s;
    padding: $general-spacing-xl $spacing-0 $general-spacing-xs;
  }
  &--listitem {
    list-style-type: none;
    display: flex;
    justify-content: center;

    .action-sidebar--icon {
      margin-right: $general-spacing-xs;
    }
  }
}
