@import "../../styles/utils/helpers";

.action-sidebar {
  margin: $padding-xlarge 0;

  li {
    text-align: center;
    border: 1px solid $color-grey2;
    width: 128px;
    height: 128px;

    a {
      color: $color-textfade;
      padding: $padding-default 0;
      display: flex;
      flex-direction: column;
      width: 128px;
      height: 128px;

      img {
        display: block;
        margin: $padding-default $padding-default $padding-large;
        font-size: $padding-xxlarge;
        max-height: 72px;
      }

      span {
        font-size: $padding-large;
      }
    }

    &:hover {
      background: $color-grey2;
      color: $color-title;
    }
  }
}

.feedback__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 94, 94, 0.6);
  overflow: auto;
}

.feedback__Modal {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0;
  width: 570px;
  padding: 34px 46px;
  background-color: $color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    top: 5%;
    width: 100%;
    height: 95%;
    padding: 40px 25px;
  }
}

.feedback-modal {
  display: none;
}

.mobile-action-bar {
  display: none;
  @include r_max($break-tablet-s) {
    display: flex;
    justify-content: space-between;
    padding: calc-em(16px) calc-em(4px);
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  &--listitem {
    list-style-type: none;
    display: flex;
    justify-content: center;

    .action-sidebar--icon {
      margin-right: calc-em(8px);
    }
  }
}
