@import "~styles/utils/_helpers.scss";

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(70px);
  }
}

.sidebar {
  flex-shrink: 0;
  position: sticky;
  height: calc(100vh - 70px);
  width: 290px;
  top: $header-height;
  border-right: 1px solid $color-grey3;
  padding: 20px 25px 50px 30px;
  overflow-y: scroll;
  @include hide-scrollbar;

  @media screen and (max-width: $break-tablet-l) {
    height: auto;
    width: 60%;
    padding: 0 30px;
    z-index: 2;
    align-self: flex-start;
    border-right: 0;
    background-color: #fff;
    &.showFilters {
      z-index: 4;
      position: fixed;
      height: 100vh;
      top: 0;
      overflow-y: auto;
      box-shadow: 0 0 20px rgb(0 0 0 / 55%);
      animation-duration: 200ms;
      animation-name: slideRight;
    }
  }

  @media screen and (max-width: $break-tablet-s) {
    width: 100%;
    top: $header-mobile-height;
    margin: 0;
    padding: 0 14px;
    &.showFilters {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      animation-name: slideUp;
      transform: translateY(70px);
      height: calc(100vh - 70px);
    }
  }
}

.filtersContainer {
  @media screen and (max-width: $break-tablet-l) {
    display: none;
    &.showFilters {
      display: block;
      height: auto;
      padding-bottom: 70px;
    }
  }
}

.filtersIconContainer {
  display: none;
  @media screen and (max-width: $break-tablet-l) {
    display: block;
    &.hideIcon {
      text-align: right;
      .filtersIcon {
        display: none;
      }

      .closeIcon {
        display: inline-block;
      }

      span {
        display: none;
      }
    }
  }
}

.closeIcon {
  height: 25px;
  display: none;
}

.filtersIcon {
  height: 15px;
  padding: 0 3px 3px 0;
}

.filterResourcesTitle {
  font-weight: bold;
  font-size: 18px;
  @media screen and (max-width: $break-tablet-s) {
    display: none;
  }
}

.filterBtn {
  background: none;
  border: none;
  padding: 5px 10px 5px 0;
  color: $color-brand;
  font-weight: 400;
  font-size: 15px;

  &:active, &:focus, &:hover {
    box-shadow: none;
  }

  &:hover {
    color: $color-brand-dark;
  }

  &.active {
    padding-right: 0;
  }

  @media screen and (max-width: $break-tablet-l) {
    padding: 0;
  }
}

.filterGroup {
  margin-top: 12px;
}

.filterTitle {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 0;
}
