@import "~styles/utils/_helpers.scss";
@import "../Refinements/RefinementFilters.module.scss";

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.sidebar {
  flex-shrink: 0;
  position: sticky;
  height: calc(100vh - $header-height);
  width: 290px;
  top: $header-height;
  border-right: 1px solid $border-gray;
  padding: 20px 25px 50px 30px;
  overflow-y: auto;

  @media screen and (max-width: $break-desktop-s) {
    height: auto;
    width: 100%;
    padding: 0;
    z-index: $z-index-modal;
    align-self: flex-start;
    border-right: 0;
    background-color: #fff;
  }

  @media screen and (max-width: $break-tablet-s) {
    width: 100%;
    top: $header-mobile-height;
    margin: 0;
  }
}

.filtersContainer {
  @media screen and (max-width: $break-desktop-s) {
    display: none;
    position: fixed;
    height: 100vh;
    width: 42%;
    top: 0;
    padding: 0 20px 65px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 55%);
    background-color: #fff;
    animation-duration: 200ms;
    animation-name: slideRight;
    &.showFilters {
      display: block;
    }
  }

  @media screen and (max-width: $break-tablet-s) {
    width: 100%;
    top: 65px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    animation-name: slideUp;
    height: calc(100vh - 65px);
  }
}

.closeBtnContainer {
  text-align: right;
  @media screen and (min-width: $min-desktop) {
    display: none;
  }
}

.filterGroup {
  margin-top: $general-spacing-xl;
}

.hideFilterGroup {
  display: none;
}

.filterTitle {
  font-size: 18px;
  font-weight: 600;

  @media screen and (max-width: $break-desktop-s) {
    font-size: 16px;
    font-weight: 500;
  }
}

.filterResourcesHeaderMobile {
  position: relative;
  padding-top: $general-spacing-md;
  text-align: center;
  @media screen and (min-width: $break-desktop-s) {
    display: none;
  }
}

.filterResourcesTitleDesktop,
.filterResourcesTitle {
  font-weight: bold;
  font-size: 18px;
}

.filterResourcesTitleDesktop {
  @media screen and (max-width: $break-desktop-s) {
    display: none;
  }
}

.filterResourcesBtn {
  .closeIcon {
    height: 25px;
  }

  .filtersIcon {
    height: 15px;
    padding: 0 3px 3px 0;
  }

  .filterBtn {
    background: none;
    border: none;
    padding: 5px 10px 5px 0;
    color: $color-brand;
    font-weight: 400;
    font-size: 15px;

    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
    }

    &:hover {
      color: $color-brand-dark;
    }

    @media screen and (max-width: $break-tablet-l) {
      padding: 0;
    }
  }
}

.filtersButtonContainer {
  display: none;
  margin-bottom: $general-spacing-md;

  @media screen and (max-width: $break-desktop-s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding: 0 $general-spacing-md;
    margin-bottom: $general-spacing-xs;
  }

  @media screen and (min-width: $break-tablet-s) {
    margin-bottom: $general-spacing-lg;
  }
}

.filterResourcesCloseButton {
  position: absolute;
  top: $general-spacing-md;
  right: $general-spacing-xs;
}

.checkBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-top: 13px;
  color: $color-grey5;
  cursor: pointer;
  &.disabled {
    color: $color-grey4;
  }

  @media screen and (max-width: $break-tablet-s) {
    font-size: 14px;
  }
}
