@import "../../../styles/utils/_helpers.scss";

.oppEventSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  overflow: hidden;
  width: 100%;
  padding: $spacing-24 $spacing-32;

  &.event {
    background: $color-brand-dark;
  }

  @media screen and (max-width: $break-tablet-s) {
    padding: $spacing-8 $spacing-4;
  }

  .oppEvent__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-bottom: $spacing-3;
    }

    &.event {
      h2,
      p {
        color: $white;
      }
    }

    @media screen and (max-width: $break-tablet-p) {
      gap: $spacing-3;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .cardsContainer {
    display: flex;
    gap: $spacing-6;
    width: 100%;
    height: 100%;

    &.event {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      @media screen and (max-width: $break-tablet-p) {
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 1336px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $break-tablet-p) {
      display: flex;
      flex-direction: column;
    }
  }
}
