@import "../../../styles/utils/_helpers.scss";

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $general-spacing-lg;
  width: 100%;
  height: 100%;

  &.event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @media screen and (max-width: $break-tablet-p) {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1336px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $break-tablet-p) {
    display: flex;
    flex-direction: column;
  }
}
