@import "~styles/utils/_helpers.scss";

.searchResultsAndMapContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas:
    "toggle toggle"
    "results map";

  @media screen and (max-width: $break-tablet-s) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "map"
      "toggle"
      "results";
  }
}

.searchResultsContainer {
  grid-area: results;
  display: grid;
  gap: $general-spacing-md;
  width: 670px;

  @media screen and (min-width: $min-tablet-p) {
    margin: $spacing-0 $general-spacing-lg;
  }
  @media screen and (max-width: $break-tablet-s) {
    width: 100%;
    padding: -$general-spacing-xl $general-spacing-md;
    gap: $spacing-0;
    position: relative;
    top: 0;
    background: #fff;
    transition: top 200ms ease-in-out;
    &.overlayMapWithSearchResults {
      top: calc(-50vh + 20px);
      z-index: 1;
    }
  }
}

.noResultsMessage {
  margin: 35px auto 65px;
  text-align: center;
  &.hidden {
    display: none;
  }
}

:global(.results-map) {
  grid-area: map;
}

.searchResultsTopShadow {
  @media screen and (max-width: $break-tablet-s) {
    box-shadow: 0 0 20px rgb(0 0 0 / 55%);
  }
}

.searchResult {
  padding: $general-spacing-md;
  border: 1px solid $border-gray;
  border-radius: $rounded-md;
  display: flex;
  justify-content: space-between;
  gap: $general-spacing-md;

  @media screen and (max-width: $break-tablet-s) {
    border-radius: 0;
    border: none;
    border-top: 1px solid $border-gray;
    flex-direction: column;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat";

  @media screen and (max-width: $break-tablet-s) {
    font-size: 18px;
  }
}

.serviceOf {
  font-size: 14px;
  line-height: 125%;
}

.titleLink,
.serviceOfLink {
  color: $text-link;

  &:hover {
    color: $text-link-hover;
  }
}

.searchResultContent {
  display: flex;
  gap: 25px;
  justify-items: stretch;

  @media screen and (max-width: $break-desktop) {
    gap: 32px;
    grid-template-columns: none;
    justify-items: start;
  }
}

.address {
  font-size: 14px;
  margin-top: $general-spacing-s;
  color: $text-secondary;

  &::before {
    content: "\f3c5"; // Location pin icon
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: $general-spacing-xs;
  }

  @media screen and (max-width: $break-tablet-s) {
    font-size: 16px;
  }
}

.description {
  font-size: 16px;
  padding-top: $general-spacing-xs;
  color: $text-secondary;
  line-height: 150%;

  a {
    word-break: break-word;
  }
  @media screen and (max-width: $break-tablet-s) {
    font-size: 14px;
  }
}

.sideLinks {
  font-weight: bold;
  font-size: 18px;
  color: $color-brand;

  @media screen and (max-width: $break-tablet-s) {
    font-size: 16px;
    display: flex;
    gap: $general-spacing-md;
  }
}

.icon {
  height: 36px;
  width: 36px;
  background: $primary-button-default-background;
  border-radius: $rounded-full;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  @media screen and (max-width: $break-tablet-s) {
    height: 28px;
    width: 28px;
    font-size: 12px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
    background: $primary-button-hover-background;
  }
}

.icon-phone {
  margin-bottom: $general-spacing-md;
  &::before {
    content: "\f095"; /* Font Awesome Unicode for the phone icon */
    font-family: "Font Awesome 5 Free"; /* Font Awesome family */
    font-weight: 900; /* Required for solid icons */
  }
  @media screen and (max-width: $break-tablet-s) {
    margin-bottom: $spacing-0;
  }
}

.icon-popout {
  &::before {
    content: "\f35d"; /* Font Awesome Unicode for the phone icon */
    font-family: "Font Awesome 5 Free"; /* Font Awesome family */
    font-weight: 900; /* Required for solid icons */
  }
}

.deemphasizeSideLinks {
  font-weight: 400;
}

.hideDischargeSidelinks {
  display: none;
}

.bookmarkButton {
  align-self: end;
  justify-self: left;
  white-space: nowrap;
  @media screen and (min-width: $break-desktop) and (max-width: $break-desktop-l) {
    // Positioning for small sliver of screensizes where the button can overflow
    // its grid boundaries. This allows the button to overflow yet without abutting
    // against content in the grid column next to it
    position: relative;
    right: 2px;
  }
}

@media print {
  // This below styles are for printing out the results on our service/search results page.

  // This sets visibility hidden on all elements except for the searchResultsContainer
  // and its children to avoid printing irrelevant sections of the page.
  // This follows the example of this answer https://stackoverflow.com/a/2618980
  :global(.searchResultsPage) {
    visibility: hidden;

    :global(.results-map) {
      display: none;
    }

    a,
    button,
    input,
    textarea {
      // In the Firefox print view, input and anchor elements are not hidden due to the transition
      // delay on changing the visibility value.
      transition: none !important;
    }

    a[href]::after {
      // Our _reset.scss file displays the whole href of a link in the ::after selector.
      // This is confusing for our service and resource links which are just routes
      // to other parts of our site, etc. Thus, overriding that here.
      content: "" !important;
    }
  }

  .searchResultsContainer {
    visibility: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 6.5in;
    display: block;
  }

  .searchResult {
    display: block;
    padding: 20px 0;
    border-left: 0;
  }

  .sideLink {
    display: none;
    &.showInPrintView {
      display: block;
      padding-top: 20px;
    }
  }
}
