@import '~styles/utils/_helpers.scss';

.searchResultsAndMapContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas: "results map";
  grid-column-gap: 15px;

  @media screen and (max-width: $break-tablet-s) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "map"
      "results";
  }
}

.searchResultsContainer {
  grid-area: results;
  @media screen and (max-width: $break-tablet-s) {
    top: 0;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 0 20px rgb(0 0 0 / 55%);
    background: #fff;
    transition: top 200ms ease-in-out;
    &.expandList {
      top: calc(-50vh + 20px);
      z-index: 1;
    }
  }
}

.noResultsMessage {
  margin: 35px auto 65px;
  text-align: center;
  &.hidden {
    display: none;
  }
}

:global(.results-map) {
  grid-area: map;
}

.searchResultsTopShadow {
  @media screen and (max-width: $break-tablet-s) {
    box-shadow: 0 0 20px rgb(0 0 0 / 55%);
  }
}
