@import '~styles/utils/_helpers.scss';

.searchResultsAndMapContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas: "results map";
  grid-column-gap: 15px;

  @media screen and (max-width: $break-tablet-s) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "map"
      "results";
  }
}

.searchResultsContainer {
  grid-area: results;
  @media screen and (max-width: $break-tablet-s) {
    top: 0;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 0 20px rgb(0 0 0 / 55%);
    background: #fff;
    transition: top 200ms ease-in-out;
    &.expandList {
      top: calc(-50vh + 20px);
      z-index: 1;
    }
  }
}

.noResultsMessage {
  margin: 35px auto 65px;
  text-align: center;
  &.hidden {
    display: none;
  }
}

:global(.results-map) {
  grid-area: map;
}

.searchResultsTopShadow {
  @media screen and (max-width: $break-tablet-s) {
    box-shadow: 0 0 20px rgb(0 0 0 / 55%);
  }
}

.searchResult {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 25px;
  justify-items: end;
  padding: 21px 0 24px 24px;
  border-left: 1px solid $color-grey3;
  border-bottom: 1px solid $color-grey3;

  @media screen and (max-width: $break-desktop) {
    gap: 32px;
    grid-template-columns: none;
    justify-items: start;
  }

  @media screen and (max-width: $break-tablet-l) {
    padding-left: 30px;
  }

  @media screen and (max-width: 600px) {
    padding: 18px 20px;
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 24px;
  }

  &_address {
    border-bottom: 1px solid $color-grey3;
    padding: 24px 0;
  }
}

.title {
  font-weight: bold;
  font-size: 20px;

  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.address {
  font-size: 18px;
  margin-top: 12px;

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.description {
  font-size: 18px;
  padding-top: 32px;
  a {
    word-break: break-word;
  }
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.serviceOf {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.sideLinks {
  font-weight: bold;
  font-size: 18px;
  color: $color-brand;

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.sideLink {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.sideLinkIcon {
  width: 24px;
}

.sideLinkText {
  padding-left: 8px;
  overflow: auto;
}

.expandListSlider {
  display: none;
  @media screen and ( max-width: $break-tablet-s) {
    display: block;
  }
}

@media print {
  // This below styles are for printing out the results on our service/search results page.

  // This sets visibility hidden on all elements except for the searchResultsContainer
  // and its children to avoid printing irrelevant sections of the page.
  // This follows the example of this answer https://stackoverflow.com/a/2618980
  :global(.searchResultsPage) {
    visibility: hidden;

    :global(.results-map) {
      display: none;
    }

    a, button, input, textarea {
      // In the Firefox print view, input and anchor elements are not hidden due to the transition
      // delay on changing the visibility value.
      transition: none !important;
    }

    a[href]::after {
      // Our _reset.scss file displays the whole href of a link in the ::after selector.
      // This is confusing for our service and resource links which are just routes
      // to other parts of our site, etc. Thus, overriding that here.
      content: "" !important;
    }
  }

  .searchResultsContainer {
    visibility: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 700px;
    display: block;
  }

  .searchResult {
    display: block;
    padding: 20px 0;
    border-left: 0;
  }

  .sideLink {
    display: none;
    &.showInPrintView {
      display: block;
      padding-top: 20px;
    }
  }
}
