@import "../../styles/utils/_helpers.scss";

.emailSignupContainer {
  display: flex;
  width: 100%;
  padding: var(--16, 4rem) var(--section-padding-desktop-margins, 8rem);
  flex-direction: column;
  align-items: center;
  background: #fbb040;
}
