@import "~styles/utils/_helpers.scss";

.discoveryFormPage {
  grid-column: 2 / span 10;

  @media screen and (max-width: $break-tablet-s) {
    grid-column: 1 / span 12;
  }
}

.subtitleMargin {
  margin-top: 21px;
}

.refinementsBox {
  display: flex;
  margin: 16px 0;
  padding: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $break-tablet-s) {
    flex-direction: column;
    align-items: center;
  }
}

.navigationButtons {
  display: flex;
  justify-content: right;
  column-gap: 8px;
  // position: sticky;
  // top: 10px;
  // bottom: 20px;

  @media screen and (max-width: $break-tablet-s) {
    justify-content: center;
  }
}

// .nextBtn,
// .goBackBtn {
//   border-radius: 3px;
//   height: 49px;
//   padding: 12px 72px;
// }

// .goBackBtn {
//   background-color: #fff;
// }
