@import "~styles/utils/_helpers.scss";

.discoveryLayout {
  padding-top: 48px;
}

.discoveryFormPage {
  grid-column: 2 / span 10;

  @media screen and (max-width: $break-tablet-s) {
    grid-column: 1 / span 12;
  }
}

.formTitle {
  display: flex;
  gap: 12px;
  align-items: end;
}

.icon {
  width: 44px;
  height: 44px;
}

.subtitleMargin {
  margin-top: 21px;
}

.refinementsContainer {
  display: grid;
  gap: 16px;
}

.refinementsBox {
  display: flex;
  margin-top: 16px;
  padding: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $break-tablet-s) {
    flex-direction: column;
    align-items: center;
  }
}

.navigationButtons {
  display: flex;
  justify-content: right;
  gap: 8px;

  @media screen and (max-width: $break-tablet-p) {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.nextBtn,
.goBackBtn {
  border-radius: 3px;
  height: 49px;
  padding: 12px 72px;
}

.goBackBtn {
  background-color: #fff;
  color: $color-brand;
  border: solid 1px $color-brand;
}
