.FoodMap__Page {
  // position: fixed;
  p {
    font-size: 1.2em;
    line-height: 1.5;
  }
}

.FoodMap__DocEmbed {
  @media screen and (max-width: 600px) {
    width: 100vw;
    top: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    height: calc((100vh) - 254px);
  }
}

@media screen and (min-width: 600px) {
  .FoodMap__DocEmbed {
    width: 100vw;
    max-width: 800px;
    height: 65vh;
    margin: auto;
  }
}

.foodBannerContainer {
  width: 100%;
  color: black;
  font-size: 18px;
  text-align: center;
  position: sticky;
  text-decoration: underline;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  strong {
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
  }
  @media screen and (min-width: 600px) {
    font-size: 18px;
    padding: 3vw 0;
  }
}

.bannerLink {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.SFGovLogo {
  height: 90%;
  margin-left: 14px;
  padding: 4px 0;
}

.FoodMap__foodMapBannerCredit {
  background-color: #267030;
  text-align: left;
  color: white;
  height: 32px;
  width: 100vw;
  max-width: 800px;
  margin: auto;

  @media screen and (max-width: 600px) {
    padding: 4px 3vw;
  }

  span {
    margin-left: 1vw;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}