// Set any styles here that we do not want to pass to the HTML -> PDF conversion API
// E.g. showing/hiding loaders, etc.

.pdfEmbed {
  height: 98vh;
}

.handoutInvisible {
  visibility: hidden;
}

.loaderText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  width: 110px;
}
