@import "../../styles/utils/_helpers.scss";

$handoutTeal: #31adb5;

// Global overrides
// :global(.serviceHandoutPdf table.compact tr td) {
//   padding-left: 0;
//   background-color: red;
//   // table.compact {
//   //   background-color: red;
//   // }
//   // table.compact tr td,
//   // table.compact tr th {

//   // }
//   // .map {
//   //   height: 300px;
//   // }
// }

:global {
  .serviceHandoutPdf table.compact tr th,
  .serviceHandoutPdf table.compact tr td {
    padding-left: 0;
  }

  .serviceHandoutPdf .map {
    height: 300px;
  }
}

.serviceHandout {
  padding: 44px 32px;
  // visibility: hidden;
}

.titleSection {
  display: grid;
  gap: 8px;
  border-bottom: solid 3px $handoutTeal;
  padding-bottom: 10px;
}

.serviceTitle {
  color: $handoutTeal;
  font-weight: 800;
  font-size: 24px;
}

.subtitle {
  font-style: italic;
}

.aboutSection {
  padding: 18px 0;
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: $color-grey7;
    padding-bottom: 10px;
  }
}

.contactInfo {
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #ff6821;
  }
}

.renderedMarkdown {
  strong {
    font-weight: 600;
    color: $color-grey6;
  }

  em {
    font-style: italic;
  }

  ul {
    padding: 12px 26px;
    li {
      list-style-type: disc;
    }
  }

  li ul {
    padding: 0px 26px;
  }

  ol {
    padding: 12px 26px;
    li {
      list-style-type: decimal;
    }
  }

  p strong {
    color: $color-grey9;
  }
}

.locationSection {
  padding-top: 18px;
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: $color-grey7;
    padding-bottom: 10px;
  }
}

.locationContainer {
  display: grid;
  grid-template-columns: auto 6fr;
  gap: 25px;
}

.resourceName {
  font-weight: 600;
}

.serviceHours {
  padding-top: 10px;
  :global {
    table tr th {
      font-weight: 600;
    }
  }
}

.hoursTitle {
  font-weight: 600;
  padding-bottom: 8px;
}
