// Set any styles here that we do not want to pass to the HTML -> PDF conversion API
// E.g. showing/hiding loaders, etc.

.pdfEmbed {
  height: 98vh;
}

.handoutInvisible {
  visibility: hidden;
}

.loaderText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  width: 130px;
  &::after {
    display: inline-block;
    animation: ellipsis steps(1, end) 1.25s infinite;
    content: "";
  }
}

@keyframes ellipsis {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}
