@import '~styles/utils/_helpers.scss';

.container {
  width: 100%;
}

.flexContainer {
  display: flex;
  width: 100%;

  @media screen and (max-width: $break-tablet-l) {
    flex-direction: column;
  }
}

.results {
  // This style is set so that the results container will fill the width of the page
  // even when there are no search results
  flex-grow: 1;
}
