.results-map {
  position: sticky;
  top: 4.375rem;
  width: 40%;
  height: calc(100vh - 4.375rem);
  @media screen and ( min-width: 1440px ){

  }
  @media screen and ( max-width: 767px ) {
    display: none;
  }
}

.results-map-inner {
  width: 100%;
}

.marker {
  transform:translateY(-50%);
  position: absolute;
  height: 55px;
  width: 30px;
  top: -27px;
  left: -15px;
  cursor: pointer;
}

.tippy-tooltip-content {
  .entry-details {
    text-align: start;
    padding: 20px;
  }
}

.map-wrapper {
  height: 100%;
  @media screen and ( min-width: 1440px ){

  }
}
