@import "app/styles/utils/_helpers.scss";

$carouselButtonDimension: 40px;
$carouselButtonOffset: $carouselButtonDimension * 2 + 5px;

.container {
  transition: padding 425ms linear, max-height 400ms linear,
    opacity 425ms linear;
  max-height: 0;
  opacity: 0;
  &.showCarousel {
    background-color: #f5f5f5;
    padding: 15px 0 25px;
    max-height: 1000px;
    opacity: 1;
    &.carouselCollapsed {
      padding-bottom: 1px;
    }
  }
}

.articlesHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  max-width: 1160px;
  margin: auto;
  @media screen and (max-width: $break-tablet-p) {
    width: calc(100% - $carouselButtonOffset);
    max-width: 1160px;
  }
}

.title {
  font-weight: 700;
  font-size: 26px;
  @media screen and (max-width: $break-tablet-p) {
    font-size: 24px;
  }
}

.toggleCarouselButton {
  background-color: transparent;
  height: $carouselButtonDimension;
  width: $carouselButtonDimension;
  text-align: right;

  // Button overrides
  padding: 0;
  &:focus,
  &:hover {
    background-color: none;
    box-shadow: none;
  }
}

.toggleCarouselButton {
  .expandCarouselChev,
  .collapseCarouselChev {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.expandCarouselChev {
  transform: rotate(180deg) scaleX(-1);
}

.carouselContainer {
  max-width: 1160px;
  margin: auto;
  width: 90%;
  margin-bottom: 9px;
  opacity: 1;
  max-height: 1000px;
  transition: max-height 400ms linear, opacity 425ms linear;
  @media screen and (max-width: $break-tablet-p) {
    width: calc(100% - $carouselButtonOffset);
    margin-bottom: 0;
  }

  &.collapse {
    opacity: 0;
    max-height: 0;
  }
}

.sliderContainer {
  position: relative;
}

.slider {
  overflow: hidden;
  background-color: #fff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.animation {
  transition: transform 500ms;
}

.carouselButton {
  height: $carouselButtonDimension;
  width: $carouselButtonDimension;
  position: absolute;
  top: 50%;
  margin-top: -(calc(($carouselButtonDimension / 2) - 2px));

  // Button overrides
  padding: 0;
  background-color: transparent;
  &:focus,
  &:hover {
    background-color: none;
    box-shadow: none;
  }

  &:disabled {
    .chevronControls {
      color: #e0e0e0;
    }
  }

  // Must be nested within carouselButton to overwrite default Material Icons styles
  .chevronControls {
    color: rgba(0, 0, 0, 0.6);
    font-size: 36px;
  }
}

.carouselButton_prev {
  left: -($carouselButtonDimension) + 4px;
}

.carouselButton_next {
  right: -($carouselButtonDimension) + 4px;
}

.articleItem {
  margin: 0 auto;
  padding: 16px 20px 16px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  background-color: #fff;

  @media screen and (max-width: $break-tablet-p) {
    padding: 10px;
    gap: 8px;
  }
}

.dateSeperator {
  font-weight: 700;

  @media screen and (max-width: $break-tablet-p) {
    display: none;
  }
}

.articleDate {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (max-width: $break-tablet-p) {
    font-weight: 500;
    display: block;
  }
}

.articleBody {
  font-size: 18px;

  @media screen and (max-width: $break-tablet-p) {
    display: none;
  }
}

.articleTitle {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 8px;

  @media screen and (max-width: $break-tablet-p) {
    font-size: 18px;
    padding-bottom: 0;
  }
}

.newsContent {
  @media screen and (max-width: $break-tablet-p) {
    flex-grow: 3;
  }
}

.articleLink {
  flex-shrink: 0;
  @media screen and (max-width: $break-tablet-p) {
    flex-grow: 1;
  }
}

.articleLink,
.articleBody {
  font-size: 18px;
}

.linkText {
  @media screen and (max-width: $break-tablet-p) {
    display: none;
  }
}

.linkText_mobile {
  display: none;
  @media screen and (max-width: $break-tablet-p) {
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: right;
  }

  .mobileLinkChevron {
    top: 0;
    width: 15px;
    font-size: 22px;
  }
}

.dotGroup {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 25px;

  @media screen and (max-width: $break-tablet-p) {
    margin-top: 9px;
  }

  button {
    height: 20px;
    width: 20px;

    background-color: transparent;
    padding: 0;
    &:focus,
    &:hover {
      background-color: none;
      box-shadow: none;
    }

    span {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }

    &:disabled span {
      background-color: #000;
    }
  }
}
